:root {
    --c-bgr: rgb(26, 26, 26);
    --c-fgr: rgb(238, 238, 238);
    --c-grey: rgb(139, 139, 139);
    --c-blue: rgb(84, 98, 231);
    --c-yellow: rgb(231, 187, 84);

    --s-xs: 0.5rem;
    --s-s: 0.6rem;
    --s: 1rem;
    --s-m: 2rem;
    --s-l: 10rem;
    --s-xl: 15rem;

    --f-l: 3rem;
}

html {
    box-sizing: border-box;
    background-color: var(--c-bgr);
    color: var(--c-fgr);
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    overflow: hidden;
    block-size: 100vh;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

a {
    text-decoration: none;
    color: var(--c-fgr);
}

.start {
    display: grid;
    place-items: center;
    grid-template-rows: repeat(5, max-content);
    gap: var(--s-m);
    padding-block: var(--s-xl);
}

.title {
    text-transform: uppercase;
    font-size: var(--f-l);
    font-weight: 900;
}

.start .title {
    grid-row: 1;
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--s-xs);
}

.list__item {
    list-style: circle;
}

.start__button {
    display: none;
}

@media (prefers-color-scheme: light) {
    .start {
        background-color: var(--c-fgr);
        color: var(--c-bgr);
    }
}

@media (prefers-color-scheme: dark) and (width: 900px) and (prefers-reduced-transparency: reduce) {
    .start__button {
        display: inline-block;
        background-color: var(--c-fgr);
        color: var(--c-bgr);
        padding: var(--s), var(--s-m);
        border-radius: var(--s);
        text-align: center;
    }

    .start__button:hover {
        background-color: var(--c-blue);
        color: var(--c-fgr);
    }
}

.challenge1 {
    display: grid;
    grid-template-columns: var(--s) repeat(3, 1fr) var(--s);
    grid-template-rows: var(--s) repeat(2, min-content) 1fr 1fr 1fr var(--s);
    gap: var(--s);
}

.title {
    grid-column: 2/-1;
    grid-row: 2;
    align-self: flex-end;
}

.hint1,
.hint2 {
    grid-column: 2/-1;
    grid-row: 3;
}

.challenge1 .hint2 {
    display: none;
}

.hint>p:last-child {
    margin-block-start: 0.5rem;
    font-size: 0.8rem;
    color: var(--c-grey);
}

.soap__bar {
    grid-column: 1/-1;
    grid-row: 1/-1;
    justify-self: center;
    inline-size: 15rem;
    block-size: 7.5rem;
    background-color: var(--c-fgr);
    color: var(--c-blue);
    border-radius: 3.5rem;
    display: grid;
    place-items: center;
    margin-block-start: 15rem;
}

.soap__bar::after {
    content: "soap";
    grid-column: 1/-1;
    grid-row: 1/-1;
    display: grid;
    place-items: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;
    color: var(--c-grey);
    border-radius: 3.5rem;
    border: 0.2rem solid var(--c-grey);
    inline-size: 13rem;
    block-size: 6rem;
}

.challenge1 .code__number {
    grid-column: 1/-1;
    grid-row: 1/-1;
    display: none;
}

.code__number {
    font-weight: 900;
    font-size: var(--f-l);
}

.water {
    grid-column: 1/-1;
    grid-row: 1/-1;
    align-self: flex-end;
    max-inline-size: 111%;
    position: relative;
}

.water__image {
    position: absolute;
    bottom: 0;
    opacity: 50%;
    max-inline-size: 111%;
    animation: water 1s linear infinite;
}

@keyframes water {
    from {
        left: 0;
    }

    to {
        left: -11%;
    }
}

.nav {
    grid-column: 2/-2;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    padding-inline: var(--s);
    inline-size: 100%;
    align-items: flex-end;
    z-index: 20;
}

.prev,
.next {
    text-decoration: underline;
}

.next {
    grid-column: 2;
    justify-self: flex-end;
}

@media (max-height: 31rem) {
    .challenge1 .hint2 {
        display: block;
    }

    .challenge1 .hint1 {
        display: none;
    }

    .soap__bar::after {
        display: none;
    }

    .soap__bar {
        background-color: unset;
    }

    .challenge1 .code__number {
        display: block;
    }
}

@media (prefers-reduced-transparency: reduce) {
    .water__image {
        opacity: 100%;
    }
}

@media (max-height: 31rem) and (prefers-reduced-transparency: no-preference) {
    .challenge1 .nav {
        display: grid;
        grid-row: 6;
    }
}

.challenge2 {
    display: grid;
    grid-template-columns: var(--s) 1fr var(--s);
    grid-template-rows: var(--s) repeat(2, min-content) 1fr var(--s);
    gap: var(--s);
    position: relative;
}


.challenge2 .hint2 {
    display: none;
}

.challenge2 .code__number {
    grid-column: 1/-1;
    grid-row: 1/-1;
    color: var(--c-bgr);
    margin-inline-start: 30rem;
    margin-block-start: 15rem;
}

@media (prefers-color-scheme: light) {
    .challenge2 .hint1 {
        display: none;
    }

    .challenge2 .hint2 {
        display: block;
    }

    .challenge2 .code__number {
        filter: blur(var(--s-s));
    }

    .challenge2::after {
        content: '';
        inline-size: var(--s-xl);
        block-size: var(--s-xl);
        filter: blur(var(--s-m));
        background-color: var(--c-yellow);
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: -10;
        animation: flashlight 0.5s linear infinite
    }

    @keyframes flashlight {

        0%,
        100% {
            top: 90%;
            left: 40%;
        }

        10% {
            top: 60%;
            left: 10%;
        }

        20% {
            top: 30%;
            left: 30%;
        }

        30% {
            top: 10%;
            left: 50%;
        }

        40% {
            top: 30%;
            left: 80%;
        }

        50% {
            top: 60%;
            left: 60%;
        }

        60% {
            top: 90%;
            left: 80%;
        }

        70% {
            top: 70%;
            left: 50%;
        }

        80% {
            top: 40%;
            left: 30%;
        }

        90% {
            top: 70%;
            left: 50%;
        }
    }
}

@media(prefers-reduced-motion: reduce) {
    .challenge2::after {
        animation-duration: 3s;
    }

    .challenge2 .code__number {
        filter: unset;
    }

    .challenge2 .nav {
        display: grid;
            grid-row: 4;
    }
}