:root {
    --c-black: rgb(26, 26, 26);
    --c-white: rgb(238, 238, 238);
    --c-grey: rgb(139, 139, 139);
    --c-red: rgb(231, 84, 84);
    --c-green: rgb(61, 200, 30);
    --c-blue: rgb(84, 98, 231);

    --c1: #f5ab47;
    --c2: #cc6935;
    --c3: #31784b;
    --c4: #7ea285;
    --c5: #857c2f;
    --c6: #bca942;

    --cls5: #5cb29d;
    --cls4: #6ea76c;
    --cls2: #c4a3cc;
    --cls1: #b26d8e;
    --cls6: #c2c88e;
    --cls3: #5fabcd;

    --s-xs: clamp(0.5rem, 0.46rem + 0.1639vw, 0.5625rem);
    --s-s: clamp(0.9375rem, 0.8176rem + 0.4918vw, 1.125rem);
    --s: clamp(1.4375rem, 1.3176rem + 0.4918vw, 1.625rem);
    --s-m: clamp(2.8125rem, 2.4928rem + 1.3115vw, 3.3125rem);
    --s-l: clamp(7.5rem, 6.7008rem + 3.2787vw, 8.75rem);
    --s-xl: clamp(11.25rem, 10.0512rem + 4.918vw, 13.125rem);

    --f-s: clamp(0.9375rem, 0.8975rem + 0.1639vw, 1rem);
    --f: clamp(1.125rem, 1.0451rem + 0.3279vw, 1.25rem);
    --f-m: clamp(1.62rem, 1.407rem + 0.8738vw, 1.9531rem);
    --f-l: clamp(2.3325rem, 1.8726rem + 1.8869vw, 3.0519rem);
    --f-xl: clamp(4.6656rem, 3.6348rem + 5.1543vw, 7.6294rem);
}

html {
    box-sizing: border-box;
    background-color: var(--c-black);
    color: var(--c-white);
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    overflow: hidden;
    block-size: 100vh;
    font-size: var(--f);
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

a {
    text-decoration: none;
    color: var(--c-white);
}


/* --- start screen --- */

.start {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr repeat(4, max-content) 1fr;
    gap: var(--s);
    background-image: url(../assets/img/paper.png);
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    text-transform: uppercase;
    font-size: var(--f-l);
    font-weight: 900;
}

.start .title {
    grid-row: 2;
}

.start p {
    grid-row: 3;
}

.list {
    grid-row: 4;
    display: flex;
    flex-direction: column;
    gap: var(--s-xs);
}

.list__item {
    list-style: circle;
    color: var(--c-red);
}


@media (prefers-color-scheme: light) {
    .start {
        background-color: var(--c-white);
        color: var(--c-black);
    }
}

@media (prefers-color-scheme: dark) and (color-gamut: srgb) and (width: 900px) {
    .start__button {
        grid-row: 5;
        display: grid;
        place-items: center;
        background-image: url(../assets/img/button.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        inline-size: var(--s-xl);
        block-size: var(--s-m);
        color: var(--c-black);
    }
}

@media (prefers-color-scheme: dark) {
    .list__item:nth-child(1) {
        color: var(--c-green);
    }
}

@media(color-gamut: srgb) {
    .list__item:nth-child(2) {
        color: var(--c-green);
    }
}

@media (width: 900px) {
    .list__item:nth-child(3) {
        color: var(--c-green);
    }
}

@media (color-gamut: p3) {
    .start__button {
        display: none;
    }


    .list__item:nth-child(2) {
        color: var(--c-red);
    }
}

@media (color-gamut: rect2020) {
    .start__button {
        display: none;
    }

    .list__item:nth-child(2) {
        color: var(--c-red);
    }
}


/* --- room 1 --- */

.room {
    display: grid;
    grid-template-columns: var(--s) 1fr var(--s);
    grid-template-rows: var(--s) min-content 1fr var(--s);
    gap: var(--s);
}

.room1 {
    position: relative;
    background-image: url("../assets/img/shower-floor.png");
    background-size: 100%;
}

.hint1,
.hint2 {
    grid-column: 2/-1;
    grid-row: 2;
    z-index: 20;
    color: var(--c-black);
}

.hint h1 {
    padding-block-end: var(--s);
}

.room1 .hint2 {
    display: none;
}

.hint>p:last-child {
    margin-block-start: var(--s-xs);
    font-size: var(--f-s);
    /* color: var(--c-grey); */
}

.soap {
    max-inline-size: var(--s-xl);
    grid-column: 2;
    grid-row: 1/-1;
    justify-self: center;
    margin-block-start: var(--s-xl);
}

.code__number {
    display: none;
    font-weight: 900;
    font-size: var(--f-xl);
    color: var(--c-black);
}

.water {
    opacity: 100%;
    align-self: flex-end;
    position: absolute;
    bottom: -5rem;
    transform: scaleY(80%);
    filter: hue-rotate(-50deg);
    transition: filter 0.5s ease-in, opacity 2s ease-in 1s;
}

.nav {
    grid-column: 2/-2;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    inline-size: 100%;
    align-items: flex-end;
    z-index: 20;
}

.prev,
.next {
    /* text-decoration: underline; */
    inline-size: 5rem;
    block-size: 5rem;
    background-image: url(../assets/img/arrow-key.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.prev {
    transform: scaleX(-1);
}

.next {
    grid-column: 2;
    justify-self: flex-end;
}

@media (max-height: 27rem) {
    .room1 .hint2 {
        display: block;
    }

    .room1 .hint1 {
        display: none;
    }

    .soap {
        display: none;
    }

    .room1 .code__number {
        display: block;
        grid-column: 2;
        grid-row: 1/-1;
        justify-self: center;
        margin-block-start: calc(var(--s-xl) + var(--s-m));
    }
}

@media (color-gamut: p3) {
    .water {
        filter: hue-rotate(-20deg);
    }
}

@media (color-gamut: rec2020) {
    .water {
        filter: hue-rotate(20deg);
        opacity: 50%;
    }
}

@media (max-height: 27rem) and (color-gamut: rec2020) {
    .room1 .nav {
        display: grid;
        grid-row: 3;
    }
}


/* --- room 2 --- */

.room2 {
    position: relative;
    background-image: url(../assets/img/dark.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -10;
}

.room2 .hint2 {
    display: none;
}

.room2 .code__number {
    grid-column: 1/-1;
    grid-row: 1/-1;
    margin-inline-start: 35rem;
    margin-block-start: 15rem;
    color: #080807;
}

@keyframes flashlight {

    0%,
    100% {
        top: 90%;
        left: 40%;
    }

    10% {
        top: 60%;
        left: 10%;
    }

    20% {
        top: 30%;
        left: 30%;
    }

    30% {
        top: 10%;
        left: 50%;
    }

    40% {
        top: 30%;
        left: 80%;
    }

    50% {
        top: 60%;
        left: 60%;
    }

    60% {
        top: 90%;
        left: 80%;
    }

    70% {
        top: 70%;
        left: 50%;
    }

    80% {
        top: 40%;
        left: 30%;
    }

    90% {
        top: 70%;
        left: 50%;
    }
}

@media (prefers-color-scheme: light) {
    .room2 .hint1 {
        display: none;
    }

    .room2 .hint2 {
        display: block;
    }

    .room2 .code__number {
        filter: blur(var(--s-s));
        display: block;
    }

    .room2::after {
        content: '';
        inline-size: 15rem;
        block-size: 15rem;
        background-image: url(../assets/img/flashlight.png);
        background-size: cover;
        filter: blur(0.2rem);
        opacity: 70%;
        z-index: -10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        animation: flashlight 0.5s linear infinite
    }
}

@media(prefers-reduced-motion: reduce) {
    .room2::after {
        animation-duration: 3s;
    }

    .room2 .code__number {
        filter: unset;
    }
}

@media (prefers-color-scheme: light) and (prefers-reduced-motion: reduce) {
    .room2 .nav {
        display: grid;
        grid-row: 3;
    }
}

/* --- room 3 --- */


.room3 {
    background-image: url(../assets/img/desk.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.iphone {
    grid-column: 2;
    grid-row: 1/-1;
    inline-size: 10rem;
    rotate: 15deg;
    align-self: flex-end;
    justify-self: center;
    transform: center;
    padding: 0rem var(--s-m) var(--s-m) 0rem;
}

.room3 .hint2 {
    display: none;
}

@media (width: 375px) and (height: 667px) {

    .room3 .hint1,
    .iphone {
        display: none;
    }

    .room3 {
        position: relative;
        background-color: rgb(40, 40, 40);
        background-image: url(../assets/img/iphone.png);
        background-size: 100vw 100vh;
    }

    .room3 .hint2 {
        grid-column: 2;
        display: grid;
        gap: var(--s);
        padding-block-start: 4rem;
    }

    .text__title::before {
        content: url(../assets/img/user.svg);
        inline-size: 35px;
        block-size: 35px;
    }

    .text__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--s-s);
        text-transform: unset;
        font-size: var(--f-m);
        border-bottom: var(--c-white) solid 0.05rem;
        margin-inline: calc(0 - var(--s));
    }

    .text__message {
        font-size: var(--f-s);
        max-inline-size: 13rem;
        border-radius: 10px;
    }

    .text__message:last-child {
        margin-block-start: unset;
    }

    .text__message span {
        padding: var(--s-xs);
        border-radius: var(--s-s);
    }

    .text__message:nth-child(2n) {
        color: var(--c-black);
        display: grid;
        grid-template-columns: 1.5rem auto;
        gap: var(--s-xs);
        align-items: center;
    }

    .text__message:last-child span {
        color: var(--c-black);
    }

    .text__message:nth-child(2n) span {
        background-color: var(--c-white);
        padding-inline: var(--s-s) var(--s-xs);
    }

    .text__message:nth-child(2n)::before {
        content: "";
        background-image: url(../assets/img/user.svg);
        background-size: cover;
        inline-size: 1.5rem;
        block-size: 1.5rem;
    }

    .text__message:nth-child(2n+1) {
        justify-self: flex-end;
    }

    .text__message:nth-child(2n+1) span {
        background-color: var(--c-blue);
        padding-inline: var(--s-xs) var(--s-s);
    }

    .room3 .nav {
        display: grid;
        grid-row: 3;
        margin-block-end: -2rem;
        padding-inline: 0rem;
    }
}

@media print {
    .room3 .code__number {
        display: block;
        grid-column: 1/-1;
        grid-row: 1/-1;
        place-self: center;
        font-size: 50rem;
    }

    .room3 .hint,
    .iphone {
        display: none;
    }
}


/* --- room 4 --- */

.room4 {
    background-image: url(../assets/img/eye-practice.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.color__blind {
    inline-size: 20rem;
}

.colorblind {
    grid-column: 1/-1;
    grid-row: 1/-1;
    place-self: center;
    margin-inline-start: var(--s-s);
    margin-block-end: var(--s-xl);
    inline-size: 10rem;
    block-size: 10rem;
    filter: blur(0.8rem);
    transition: filter 0.5s ease-in;
}

.room4 .hint2 {
    display: none;
}

@media (min-resolution: 3dppx) {
    .colorblind {
        filter: unset;
    }
}

.cls1,
.cls3 {
    fill: var(--cls1);
}

.cls2,
.cls4,
.cls5,
.cls6 {
    fill: var(--cls2);
}

@media (min-resolution: 3dppx) {
    .colorblind {
        filter: unset;
    }

    .room4 .hint1 {
        display: none;
    }

    .room4 .hint2 {
        display: block;
    }
}

@media (prefers-contrast: more) {
    .cls3 {
        fill: var(--cls3);
    }

    .cls4 {
        fill: var(--cls4);
    }

    .cls5 {
        fill: var(--cls5);
    }

    .cls6 {
        fill: var(--cls6);
    }

    .room4 .nav {
        display: grid;
        grid-row: 3;
    }
}


/* --- code --- */

.code {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    background-image: url(../assets/img/safe.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.form {
    grid-column: 1/-1;
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-inline-start: 4rem;
    margin-block-start: -5rem;
    row-gap: var(--s);
}

.form button {
    grid-column: 1/-1;
    grid-row: 2;
}

input,
button {
    border: none;
    background: none;
    color: var(--c-white);
    font-size: var(--f);
    font-family: 'Changa', sans-serif;
    line-height: 0.5;
}

input {
    inline-size: min-content;
    block-size: 1.5rem;
    text-align: center;
}

input::placeholder {
    color: var(--c-grey);
}

input:focus {
    outline: none;
}

input:invalid {
    color: var(--c-red);
}

input:valid {
    color: var(--c-green);
}

button {
    padding: var(--s-s);
    background-image: url(../assets/img/button.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.code .nav {
    grid-column: 1;
    padding-inline: calc(var(--s)*2);
    grid-row: 2;
    display: grid;
    align-self: flex-end;
    padding-block-end: calc(var(--s)*2);
}